[submodule "ai-hackathon-starter"]
	path = ai-hackathon-starter
	url = https://github.com/purefield-demo-team/ai-hackathon-starter.git
[submodule "tools"]
	path = tools
	url = https://github.com/purefield/format.git
